<div class="container-fluid">
  <div class="center jumbotron">
    <h1>Find events near you:</h1>
    <div id="event-search">
      <%= render 'static_pages/search_form' %>
    </div>
  </div>
</div>
