<div id="mapView" class="container">

  <% json = @events.values.flatten.to_json %>

  <div class="row">
    <div class="col-12">
      <div id="map"></div>
      <div class="meetup_overlay">
        <%= render 'events/events_list' %>
      </div>
    </div>
  </div>

  <div id="mapMarkerStore" data-json="<%=json%>"></div>

</div>
