<div id="mapView" class="container">

  <% json = @events.to_json %>

  <div class="row">
    <div id="map" class="col-md-8"></div>

    <div class="col-md-4">
      <%= render 'events/events_list' %>
    </div>

  </div>

  <div id="mapMarkerStore" data-json="<%=json%>"></div>

</div>

<script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'));
  var mapBounds = new google.maps.LatLngBounds();

  var markers = []
  var selectedMarker;

  var iconBase = 'https://maps.google.com/mapfiles/kml/';
  var icons = {
    default: {
      icon: {
        url: iconBase + 'paddle/orange-blank.png',
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(36, 36)
      }
    },
    selected: {
      icon: {
        url: iconBase + 'paddle/red-circle.png',
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(42, 42)
      }
    }
  };


  function initMap() {
    var urlParams = new URLSearchParams(window.location.search);
    var fBLat = parseFloat(urlParams.get('f_b_lat'));
    var fFLat = parseFloat(urlParams.get('f_f_lat'));
    var bBLng = parseFloat(urlParams.get('b_b_lng'));
    var bFLng = parseFloat(urlParams.get('b_f_lng'));

    var boundA = new google.maps.LatLng(fBLat, bBLng);
    var boundB = new google.maps.LatLng(fFLat, bFLng);

    currentBounds = new google.maps.LatLngBounds(boundA, boundB);

    mapBounds.extend(boundA);
    mapBounds.extend(boundB);

    var lng = parseFloat(urlParams.get('lng'));
    var lat_field = document.getElementById('lat');

    map.fitBounds( mapBounds );
  }

  function addMarkers() {
    var mapMarkerStore = document.getElementById('mapMarkerStore');
    var events = JSON.parse(mapMarkerStore.dataset.json);

    for(i=0; i < events.length; i++) {
      var e = events[i];
      if ( e.venue ) {
        var marker = new google.maps.Marker({
          position: { lat: e.venue.lat, lng: e.venue.lon },
          map: map,
          title: e.name,
          icon: icons.default.icon,
          json: e
        });

        markers.push(marker);

        marker.addListener('click', function() {
          selectMarker(this);
        });
      }
    }

    selectMarker(markers[0]);

  }

  function selectMarker(marker) {
    var id = "event-list-" + marker.json.id;
    $('.event-list').hide();
    $('#' + id).show();
    if(selectedMarker) {
      selectedMarker.setIcon(icons.default.icon);
    }
    marker.setIcon(icons.selected.icon);
    // marker.icon = icons.selected.icon;
    map.panTo(marker.getPosition());
    selectedMarker = marker;
  }

  initMap();
  addMarkers();

</script>
