<div id="mapView" class="container">

  <% json = @events.to_json %>

  <div class="row">
    <div id="map" class="col-md-8"></div>

    <div class="col-md-4">
      <%= render 'events/events_list' %>
    </div>

  </div>

  <div id="mapMarkerStore" data-json="<%=json%>"></div>

</div>
