<div id="map"></div>
<% json = @events.to_json %>

<div id="mapMarkerStore" data-json="<%=json%>"></div>

<script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'));

  function initMap() {
    var urlParams = new URLSearchParams(window.location.search);
    var fBLat = parseFloat(urlParams.get('f_b_lat'));
    var fFLat = parseFloat(urlParams.get('f_f_lat'));
    var bBLng = parseFloat(urlParams.get('b_b_lng'));
    var bFLng = parseFloat(urlParams.get('b_f_lng'));

    var boundA = new google.maps.LatLng(fBLat, bBLng);
    var boundB = new google.maps.LatLng(fFLat, bFLng);

    var currentBounds = new google.maps.LatLngBounds(boundA, boundB);

    console.log(currentBounds);

    var lng = parseFloat(urlParams.get('lng'));
    var lat_field = document.getElementById('lat');
    console.log(lat_field);

    // map = new google.maps.Map(document.getElementById('map'));
    map.fitBounds( currentBounds );
  }

  function addMarkers() {
    var mapMarkerStore = document.getElementById('mapMarkerStore');
    var events = JSON.parse(mapMarkerStore.dataset.json);

    for(i=0; i < events.length; i++) {
      var e = events[i];
      console.log(e);
      if ( e.venue ) {
        var marker = new google.maps.Marker({
          position: { lat: e.venue.lat, lng: e.venue.lon },
          map: map,
          title: e.name
        });
      }
    }
  }

  initMap();
  addMarkers();
</script>
