<div id="mapView" class="container">

  <% json = @events.to_json %>

  <div class="row">
    <div id="map" class="col-md-8"></div>

    <div class="col-md-4">
      <%= render 'events/events_list' %>
    </div>

  </div>

  <div id="mapMarkerStore" data-json="<%=json%>"></div>

</div>

<script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'));
  var mapBounds = new google.maps.LatLngBounds();

  var markers = []


  function initMap() {
    var urlParams = new URLSearchParams(window.location.search);
    var fBLat = parseFloat(urlParams.get('f_b_lat'));
    var fFLat = parseFloat(urlParams.get('f_f_lat'));
    var bBLng = parseFloat(urlParams.get('b_b_lng'));
    var bFLng = parseFloat(urlParams.get('b_f_lng'));

    var boundA = new google.maps.LatLng(fBLat, bBLng);
    var boundB = new google.maps.LatLng(fFLat, bFLng);

    currentBounds = new google.maps.LatLngBounds(boundA, boundB);

    mapBounds.extend(boundA);
    mapBounds.extend(boundB);

    var lng = parseFloat(urlParams.get('lng'));
    var lat_field = document.getElementById('lat');

    map.fitBounds( mapBounds );
  }

  function addMarkers() {
    var mapMarkerStore = document.getElementById('mapMarkerStore');
    var events = JSON.parse(mapMarkerStore.dataset.json);

    for(i=0; i < events.length; i++) {
      var e = events[i];
      if ( e.venue ) {
        var marker = new mapIcons.Marker({
          position: { lat: e.venue.lat, lng: e.venue.lon },
          map: map,
          title: e.name,
          json: e,
          icon: {
            path: mapIcons.shapes.MAP_PIN,
            fillColor: '#B5B5B5',
        		fillOpacity: 1,
        		strokeColor: '',
        		strokeWeight: 0
          },
          map_icon_label: '<span class="map-icon map-icon-cafe"></span>'
        });

        markers.push(marker);
        // marker.setZIndex(100 + i);

        marker.addListener('click', function() {
          selectMarker(this);
        });
      }
    }

    selectMarker(markers[0]);

  }

  function selectMarker(marker) {
    var id = "event-list-" + marker.json.id;
    $('.event-list').hide();
    $('#' + id).show();

    console.log(marker);

    // marker.icon = {
    //   path: mapIcons.shapes.MAP_PIN,
    //   fillColor: '#E8AA14',
    //   fillOpacity: 1,
    //   strokeColor: '',
    //   strokeWeight: 0
    // }
    map.panTo(marker.getPosition());
  }

  initMap();
  addMarkers();

</script>
