<div class="center jumbotron" id="searchInput">
  <div class="row">
    <div class="col-lg-10">
      <% if( params[:q] && !params[:q].blank? ) %>
        <h3><%="'#{params[:q]}'"%> events near <%= params[:location] %>
      <% else %>
        <h3>Events near <%= params[:location] %></h3>
      <% end %>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn" id="toggleSearch">Edit</button>
    </div>
  </div>
</div>

<script type="text/javascript">

  document.getElementById('toggleSearch').onclick = function() {
    $(document.getElementById('searchForm')).toggle();
    $(document.getElementById('searchInput')).toggle();
  }

</script>
