<div class="customForm" id="searchInput">
  <div class="row">
    <div class="col-md-10">
      <% time_string = params[:time].blank? ? "(today)" : params[:time] %>


      <% if( params[:q] && !params[:q].blank? ) %>
        <h4><%="'#{params[:q]}'"%> events near <%= params[:location].split(',').first %></h4>
      <% else %>
        <h4>Events near <%= params[:location].split(',').first %></h4>
      <% end %>
      <em><%=time_string%></em>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-secondary" id="toggleSearch">Edit</button>
    </div>
  </div>
</div>

<script type="text/javascript">

  document.getElementById('toggleSearch').onclick = function() {
    $(document.getElementById('searchForm')).toggle();
    $(document.getElementById('searchInput')).toggle();
  }

</script>
