<div class="modal fade bd-example-modal-lg" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventName" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventName">Event Name Placeholder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row" id=>
            <em id="eventTime">Event Time Placeholder</em>
          </div>
          <div class="row">
            <strong id="venueName">Venue Name Placeholder</strong>
          </div>
          <div class="row">
            <span id="groupName">Group Name Placeholder</span>
          </div>
          </br>
          <div class="row">
            <span id="eventDescription">Event Description Placeholder</span>
          </div>
          <div class="row">
            <a id="moreInfo" href='https://placeholder.com'>More Info</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
