<div class="events container" id="eventsGrid">
  <% @events.each_slice(3) do |events| %>
    <div class="row">
      <% events.each do |e| %>
        <div class="col-lg-4 col-sm-12">
          <%= render 'events/event', locals: { event: e, type: 'grid' } %>
        </div>
      <% end %>
    </div>
  <% end if @events %>
</div>
