<li id="event">
  <% event = locals[:event] %>
  <span class="name">
    <%= event['name'] %>
  </span>
  <span class="description">
    <%= Nokogiri::HTML(event['description']).to_html %>
  </span>
</li>
