/* variables and mixins */
$color-blue: #1BE7FF;
$color-green: #6EEB83;
$color-yellow: #E4FF1A;
$color-orange: #E8AA14;
$color-red: #FF5714;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.event-grid {
  padding: 5px;
}

.event {
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 10px;
}

.group_type_1 {
  background-color: $color-blue;
}

.group_type_2 {
  background-color: $color-green;
}

.group_type_3 {
  background-color: $color-yellow;
}

.group_type_4 {
  background-color: $color-orange;
}

.group_type_0 {
  background-color: $color-red;
}

#map {
  height: 400px;
}

// Hacking the same bootstrap form control styles; setting this element to be a form-control breaks the javascript stuff.
#daterangepicker{
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
