/* variables and mixins */
$color-blue: #1BE7FF;
$color-green: #6EEB83;
$color-yellow: #E4FF1A;
$color-orange: #E8AA14;
$color-red: #FF5714;
$color-gray: #B5B5B5;
$color-light-gray: #F8F8F8;

body {
  padding-top: 100px;
  margin-bottom: 80px;
}

nav {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: $color-gray;
}

label {
  margin-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: $color-light-gray;
}

#map {
  min-height: 500px;
}

.customForm {
  background-color: $color-light-gray;
  padding: 20px;
  border-style: solid;
  border-width: thin;
  border-color: $color-gray;
  border-radius: 5px;
  margin-bottom: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.event-widget {
  padding: 5px;
}

.event {
  border-color: black;
  border-style: solid;
  border-width: medium;
  background-color: $color-light-gray;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.group_type_1 {
  border-color: $color-blue;
}

.group_type_2 {
  border-color: $color-green;
}

.group_type_3 {
  border-color: $color-yellow;
}

.group_type_4 {
  border-color: $color-orange;
}

.group_type_0 {
  border-color: $color-red;
}

// Hacking the same bootstrap form control styles; setting this element to be a form-control breaks the javascript stuff.
#daterangepicker{
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.event_banner_background {
  background: black;
  margin-bottom: 20px;
}

.event_banner_image {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.event_banner_label {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 36px;
  font-weight: bold;
  bottom: 20px;
  left: 30px;
  right: 30px;
}

.bottom_border {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: $color-gray;
  padding-bottom: 10px;
}

.meetup_button {
  background-color: red;
  color: white;
  font-weight: bold;
}

.grid_section_header {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 22px;
  margin-top: 30px;
  border-top-style: solid;
  border-top-width: thin;
  border-color: $color-gray;
}

.meetup_overlay {
  position: absolute;
  bottom: 10px;
  padding: 10px;
}
